0-article.synctex.gz
0-article.synctex
0-article.pdf
0-article.log
0-article.blg
0-article.aux
0-article.bbl
0-article.aux
0-article.bbl
0-article.blg
0-article.log
0-article.pdf
0-article.tps
0-article.aux
0-article.pdf
0-article.log
0-article.blg
0-article.bbl
0-article.aux
